body {
	font-family: Helvetica, Arial, Sans-Serif;
	color: #808080;
	background-color: #1c1c1c;
}

p {
	padding-left: 30px;
	padding-right: 30px;
}

ul {
	padding-left: 70px;
	padding-right: 70px;
}

em {
	font-style: normal;
	color: #00afaf;
}

a {
	font-weight: 600;
	text-decoration: none;
	color: #00afaf;
}

a:hover {
	color: #5f5faf;
}

h1 {
	text-align: center;
	padding-top: 10px;
	color: #d75f00;
}

h3 {
	padding-top: 30px;
	padding-left: 30px;
	color: #d75f00;
}

#navBar {
	position: fixed;
	max-width: 1000px;
	height: 50px;
	margin: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
	opacity: 0.7;
	border-radius: 0 0 3px 3px;
	z-index: 1;
}

#links {
	position: fixed;
	max-width: 1000px;
	height: 30px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	top: 15px;
	opacity: 1;
	text-align: justify;
	z-index: 2;
}

.link {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 150px;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.link a {
	color: #e4e4e4;
}

.link a:hover {
	color: #00afaf;
}

#content {
	max-width: 700px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 120px;
	background-color: #262626;
	border-radius: 5px 5px 5px 5px;
}

#sketchPadCanvas {
	background-color: #e4e4e4;
}

#video {
	position: relative;
	margin: auto;
	width: 640px;
}

#recordingPicture {
	position: relative;
	margin: auto;
	width: 640px;
}

#recordingTopPic {
	height: 640px;
	width: 640px;
}

#composingPicture {
	position: relative;
	margin: auto;
	width: 640px;
}

#composingTopPic {
	height: 384px;
	width: 640px;
}

#codingPicture {
	position: relative;
	margin: auto;
	width: 640px;
}

#codingTopPic {
	height: 384px;
	width: 640px;
}

#aboutPicture {
	position: relative;
	margin: auto;
	width: 640px;
}

#aboutTopPic {
	height: 640px;
	width: 640px;
}

#eulerPic {
	padding-left: 30px;
}